.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  position:relative;
  background-color: #f2f2f2;
  /* parameters for the header section */
}
.logo {
  width: 154px;
  height: 31px;
}
.logo_place_header {
  position: relative;
  width: 154px;
  height: 31px;
  top: 30px;
  left: 64px;
}
/* here we have two examples of selectors in order to remind you how to set styles for elements */
.header__square-pic {
  height: 568px;
  width: 568px;
  top: 64px;
  background-color: #2f80ed;
  position: absolute;
  right: 0;
  z-index: 0;
}
.header__main-illustration {
  display: flex;
  position: absolute;
  height: 608px;
  width: 756px;
  justify-content: flex-end;
  bottom:0;
  right:0;
  margin-top: 64px;
  z-index: 1;
}
.header__title {
  position: relative;
  top: 200px;
  left: 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  width: 730px;
  text-align: left;
}
.subtitle {
  width: 388px;
  left: 64px;
  z-index: 99;
  position: absolute;
  bottom: 30px;
}
.header__subtitle {
  height:25px;
  font-size: 18px;
  font-weight: normal;
  text-align: left;
}
.header__link{
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  color: #2f80ed;
  text-align: left;
  margin-top: 0;
}
/* including elements with key-value modifiers */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
.description {
  margin: 100px 0;
  display: flex;
  width: 80%;
  justify-content: center;
  position: relative;
}
.description__two-columns {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.two-columns__brief{
  width: 175px;
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  display: flex;
  margin-left: 100px;
  color: #2f80ed;
}
.two-columns__main-text {
  display :flex;
  flex-direction: column;
  min-width: 1100px;
  align-items: center;
  width: 80%;
  min-width: 784px;
  line-height: 34px;
  font-size: 24px;
}
.two-columns__main-text:last-of-type {
  padding: 0;
}
.two-columns__paragraph {
  display: flex;
  flex-direction: column;
  padding: 0 0 30px;
  margin: 0;
  cursor: pointer;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}
.two-columns__span-accent {
  font-weight: bold;
  line-height: 34px;
  font-size: 24px;
}
.digits {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
}
.digits__section-title {
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}
.digits__section-subtitle {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 60px;
  text-align: center;
}
.digits__table{
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  width: 1100px;
  flex-wrap: wrap;
  row-gap: 60px;
}
.digits__table__cell {
  width: 250px;
}
.digits__table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 20px;
}
.digits__table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}
.feynman {
  height: 790px;
  background-image: url(../images/feynman.png);
  background-repeat: no-repeat;
  background-position: bottom left;
  display: flex;
  align-content: center;
  flex-direction: column;
  position: relative;
}
.feynman__title {
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  margin-top: 100px;
  margin-bottom: 70px;
  width: 775px;
  align-self: center;
  text-align: center;
}
.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  align-self: center;
  text-align: center;
}
.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  right: 48px;
  color: #2f80ed;
  position: absolute;
  top: 50%;
}
.kaufman {
  padding-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
  background-color: black;
  color: #f2f2f2;
}
.section-title__theme_dark {
  text-align: center;
  width: 60%;
  padding-bottom: 20px;
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
}
.section-subtitle__theme_dark {
  text-align: center;
  align-items: center;
  width: 60%;
  margin-bottom: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}
.table_theme_dark {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  width: 1100px;
  padding-bottom: 90px;
  z-index: 2;
}
.table__heading_theme_dark {
  text-align: left;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 20px;
}
.table__cell_theme_dark {
  width: 200px;
  max-width: 200px;
  list-style: none;
  z-index: 2;
}
.table__text_theme_dark {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: white;
  margin: 0;
  z-index: 2;
}
.kaufman__triangle {
  width: 660px;
  height: 636px;
  position: absolute;
  z-index: 1;
  right: -124px;
  top: 0;
}
.footer {
  display: flex;
  justify-content: flex-start;
  position: relative;
  background-color: black;
  color: #f2f2f2;
  padding-top: 60px;
  bottom: 40px;
  min-height: 350px;
}
.footer__author {
  line-height: 25px;
  font-size: 18px;
  padding-bottom: 40px;
  font-weight: normal;
}
.footer__columns {
  display: flex;
  padding-top: 60px;
  flex-direction: row;
  position: relative;
  justify-content: space-evenly;
  width: 90%;
}
.footer__column-heading {
  bottom: 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}
.footer__list {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  list-style: none;
  margin-top: 20px;
  padding: 0;
  margin: 0;
}
.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  flex-basis: 711px;
  justify-content: space-between;
  align-items: flex-start;
}
.footer__column_content_about {
  justify-content: center;
}
.footer__column_content_social {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.footer__social-icons {
  justify-content: center;
  margin-right: 10px;
}
.logo_place_footer {
  padding-top: 60px;
  width: 183px;
  height: 35px;
  position: relative;
}
.footer__column-link {
  color: #f2f2f2;
  text-decoration: none;
}
.footer__column-inner {
  margin-top: 20px;
}

